.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }

  .imgas {
      display: inline-block;
      position: relative;
      margin-left: 10px;
      top: -20px;
  }
  
  .img2 {
    display: inline block;
    width: 10%;
  }

.img {
    display: block;
    margin-top: auto;
    width: 100%;
}

.bar {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 500px;
    height: 50px;
}

.span1 {
    color: blue;
    font: 16px arial, sans-serif;
    margin-left: 300px;
    margin-top: -80px;
    display:block;
}

.span2 {
    color:red;
    font: 18px arial, sans-serif;
    margin-left: 60px;
    margin-top: -30px;
    display:block;
}

.container {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 30px 2% 0 30px;
}

.a {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 20px;
}

.a2 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 20%;
    height: 42px;
    color: #222;
    font-size: 18px;
    line-height: 16px;
    vertical-align: middle;
    margin-left: 20px;
}

.b {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 50px;
    vertical-align: middle;
    width: 70%;
}

.c {
    width: 100%;
    clear: both;
}

.c2 {
    clear: both;
}

.input {
    width: 50%;
    text-align: left;
}

.button {
    margin-left: 780px;
}

button {
    margin-left: 200px;
}

