{% extends "encyclopedia/layout.html" %}

{% block title %}
    
    Edit
    
{% endblock %}

{% block body %}
<div>
    Editing {{title}} page.
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
    <form action="{% url 'edit' title %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
</div>

{% endblock %}